*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: white;
}

body {
  background-color: #212f3d;
}

#root {
  padding: 1rem;
}

.div-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: green;
}

.div-control {
  display: flex;
  justify-content: space-between;
}

.input-note {
  padding: 5px 10px;
}

.buttonForm {
  font-size: 15px;
  color: white;
  background-color: #1482f0;
  padding: 7px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
